.search {
   display: flex;
   justify-content: space-between;

   &__icon {
      background-color: var(--white);
      display: flex;
      width: 6rem;
      align-items: center;
      justify-content: center;
      margin-right: -1rem;
      border: var(--border-input);
      border-right: none;
      border-radius: .8rem;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      z-index: 10;
      transition: all .3s;

      & > svg {
         height: 2rem;
         width: 2rem;
         transition: fill .3s;
      }

      &--dark {
         background-color: var(--dark-elements);
         & > svg {
            fill: var(--white);
         }
      }
   }

   &__field {
      @include inputLight();

      margin-right: auto;
      width: 30%;
      font-size: var(--default-font-size);
      transition: all .3s;

      &::-webkit-input-placeholder {
         transition: color .3s;
      }

      &--dark {
         background-color: var(--dark-elements);
         color: var(--white);

         &::-webkit-input-placeholder {
            color: var(--light-input);
         }
      }
   }

   &__filter {
      @include inputLight();

      position: relative;
      width: 18rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      transition: all .3s;

      &--dark {
         background-color: var(--dark-elements);
      }
   }
   
   &__regions {
      list-style: none;
      position: absolute;
      bottom: 0;
      left: 0;
      width: inherit;
      background-color: var(--white);
      transform: translateY(105%);
      border-radius: .5rem;
      padding: 1rem;
      overflow: hidden;
      transition: all .3s;

      &--dark {
         background-color: var(--dark-elements);
      }
   }

   &__region {
      padding: .5rem 1.5rem;
      cursor: pointer;
   }
}

.drop-down-icon {
   position: relative;
   right: 1rem;
   transition: all .2s;

   &::before,
   &::after {
      content: '';
      position: absolute;
      background-color: var(--black);
      top: 50%;
      left: 50%;
      width: 1rem;
      height: .2rem;
      transition: all .3s;
   }

   &::before {
      transform: translate(-110%, -50%) rotate(45deg);
   }

   &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
   }

   &--dark {
      &::before,
      &::after {
         background-color: var(--white);
      }
   }
}