.btn {
   box-shadow: .25rem .25rem .5rem .05rem rgba(0, 0, 0, .15),
               -.25rem -.25rem .5rem .05rem rgba(0, 0, 0, .15);
   padding: .5rem 2.5rem;
   margin-bottom: 5rem;
   font-size: 1.7rem;
   background-color: transparent;
   border: none;
   border-radius: .5rem;
   outline: none;

   & > span {
      margin-right: 1rem;
      font-size: 2.2rem;
   }
}