:root {
   --default-font-size: 1.6rem;

   --light-input: hsl(0, 0%, 52%);
   --dark-background: hsl(207, 26%, 17%);
   --dark-elements: hsl(209, 23%, 22%);
   --light-text: hsl(200, 15%, 8%);
   --light-background: hsl(0, 0%, 98%);
   --white: #fff;
   --black: #000;

   --border-input: .2rem solid rgba(133, 133, 133, .1);
}